.logo {
    width: 50px;
}

.offcanvas {
    background-color: white;
    width: 250px !important;
}

.sidebar-btn {
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 3px;
    padding: 5px 10px;
}

.sidebar-btn:hover {
    color: white;
    background-color: darkblue;
}

.sidebar-body {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
}

.offcanvas-title div {
    color: black;
    display: flex;
    font-weight: bold;
}

.offcanvas-title h5 {
    margin: 10px 0 0 0px;
}

.sidebar-body li {
    width: 100%;
    text-align: left;
    list-style: none;
    border-radius: 3px;
    padding: 5px 5px;
}

.sidebar-body li:hover {
    background-color: grey;
    color: white;
}

.icon {
    /* color: darkblue; */
    margin: 18px 5px 0 0;
}

.sidebar-body li a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 17px;
    padding: 5px 0;
    padding-right: 30px;
}

.sidebar-body li a:hover {
    color: white;
}