.logo {
    width: 50px;
}

.offcanvas {
    background-color: white;
    width: 250px !important;
}

.sidebar-btn {
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 3px;
    padding: 5px 10px;
}

.sidebar-btn:hover {
    color: white;
    background-color: darkblue;
}

.sidebar-body {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
}

.offcanvas-title div {
    color: black;
    display: flex;
    font-weight: bold;
}

.offcanvas-title h5 {
    margin: 10px 0 0 0px;
}

.sidebar-body a {
    display: block;
    text-decoration: none;
    text-align: left;
    list-style: none;
    border-radius: 3px;
    padding: 5px 5px;
    color: black;
}

.sidebar-body a:hover {
    background-color: lightgrey;
}

.icon {
    margin: 0 10px 0 0;
}