.popup-message-wrapper {
    height: 88vh;
}

.popup-scroll-div {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.featured-message, .add-message {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid grey;

}

.custom-msg {
    text-align: left;
    margin: 0;
}

.popup-msg-submit-btn, .update-popup-msg-submit-btn {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
}

.popup-msg-delete-btn {
    float: right;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
}

.update-popup-msg-submit-btn:hover {
    background-color: darkblue;
}


.edit-btn span {
    background-color: green;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.edit-btn {
    margin-top: 20px;
    float: right;
}

.edit-btn:hover {
    cursor: pointer;
}