.messager-wrapper {
    width: 60%;
    margin: auto;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 3px;
    padding: 20px;
    height: 90vh;
    border: 1px solid grey;
}

.chatBox {
    height: 100%;
}

.chatBoxTop {
    height: 80%;
    padding: 10px;
    overflow-y: scroll;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 88%;
    height: 90px;
    padding: 10px;
}

.chatSubmitBtn {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

@media only screen and (max-width: 600px) {
    .messager-wrapper {
        width: 100%;
        border: none;
        /* background-color: whitesmoke; */
    }
}