.card {
    width: 23.9%;
    margin: 5px;
    min-height: 120px;
}

.card-icon {
    margin-top: 10px;
}

.card-title-header {
    margin-top: 10px;
}

.card-value {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 96%;
    }
}